#header {
    padding:2px;
    background-color:grey;
    color:white;
    text-align:center;
    font-family: sans-serif;
}
#kiri {
    width: 250px;
    background-color:lightgrey;
    float:left;
    text-align: left;
    color:chocolate;
    font-family: fantasy;
    padding:5px;
}

#tengah {
    width: 500px;
    background-color:blue;
    float:left;
    text-align: center;
    color:aqua;
    font-family: cursive;
    padding:3px;
}

#kanan {
    width: auto;
    overflow: auto;
    background-color: azure;
    text-align: right;
    color:red;
    font-family:monospace;
    padding:10px;
}

#footer {
    background-color:grey;
    color:black;
    clear:both;
    text-align:center;
    padding:5px; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 90px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}


.flex-container {
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}

.flex-container > * {
    padding: 15px;
    -webkit-flex: 1 100%;
    flex: 1 100%;
}

.article {
    text-align: left;
}

header {background: black;color:white;}
footer {background: #aaa;color:white;}
.nav {background:#eee;}

.nav ul {
    list-style-type: none;
    padding: 0;
}
.nav ul a {
    text-decoration: none;
}

@media all and (min-width: 768px) {
    .nav {text-align:left;-webkit-flex: 1 auto;flex:1 auto;-webkit-order:1;order:1;}
    .article {-webkit-flex:5 0px;flex:5 0px;-webkit-order:2;order:2;}
    footer {-webkit-order:3;order:3;}
}

