.page-title{
     text-align: left;
     margin-left: 30px;
     font-family: roboto;
     font-weight: 400;
     color: darkblue;
}
nav {
      background-color:lightblue;
}
nav li {
     display: inline;
     margin: 0;
     padding: 0 10px;
}
nav ul {
     display: inline;
}
.contact-btn a {
     cursor: pointer;
     padding: 8px 20px;
     border: 1px solid #204156;
     position: fixed;
}
.contact-btn a:active {
     top: 2px;
}
nav a {
     height: 60px;
     line-height: 60px;
     color: #204156;
     text-decoration: none;
}
li a:hover {
     background-color: #555;
     color: white;
}
.flex-container {
     display: -webkit-flex;
     display: flex;
     -webkit-justify-content: space-around;
     justify-content: space-around;
     width: 100%;
     height: 300px;
     background-color: white;
     margin-left: 40px
     
}
.flex-item {
     width: 50%;
     height: 200px;
     margin: 10px;
}
