.page-title{
     text-align: left;
     font-weight: 100;
     color: darkblue;
}
#kiri { 
     width: 250px; 
     background-color:lightgray; 
     float:left; 
     text-align: left; 
     color:red; 
     font-family: sans-serif; 
     padding:5px; 
} 
#tengah { 
     width: 500px; 
     background-color:lightgreen; 
     float:left; 
     text-align: center; 
     color:green; 
     font-family: sans-serif; 
     padding:3px; 
 } 
 #kanan { 
     width: auto; 
     overflow: auto; 
     background-color: lightgray; 
     text-align: right; 
     color:red; 
     font-family:sans-serif; 
     padding:10px; 
 } 
nav {
      background-color:lightblue;
}
nav li {
     display: inline;
     margin: 0;
     padding: 0 10px;
}
nav ul {
     display: inline;
}
.contact-btn a {
     cursor: pointer;
     margin-right: 20px;
     padding: 8px 10px;
     border: 1px solid #204156;
     position: relative;
}
.contact-btn a:active {
     top: 2px;
}
nav a {
     height: 60px;
     line-height: 60px;
     color: #204156;
     text-decoration: none;
}
li a:hover {
     background-color: #555;
     color: white;
}
