.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 400px;
    height: 250px;
    background-color: white;
}

.flex-item {
    background-color: white;
    width: 100px;
    height: 100px;
    margin: 10px;
}
