.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
    height: auto;
    background-color: white;
}

.flex-item {
    background-color: white;
    width: 25%;
    height: auto;
    margin: 10px;
}
